<div class="jumbotron">
  <h1>没钱赚商店</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  
</div>
<div class="row marketing">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <strong>使用说明：</strong> 1、点击在售列表的商品(特惠商品为红色背景)添加至购物车；2、点击购物车中的输入框输入购物数量；3、点击结账按钮，显示小票并清空购物车
  </div>
  <!-- <div class="alert alert-warning">
    <lable>请选择优惠规则：</lable>
    <select>
      <option value="">满100减10</option>
    </select>
  </div> -->

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <h4>商店在售</h4>
    <ul class="list-group">
        <li ng-repeat="item in main.items" class="list-group-item " ng-class="
        {'list-group-item-danger': main.hasDiscount(item) }" ng-click="main.addToCart(item)"> 
          <span>{{item.name}}</span>
          <span  class="badge">{{item.price + "元/" + item.unit}}</span>
        </li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <h4>购物车</h4>
    <pre ng-class="{true: 'text-show', false: 'text-hide'}[main.cartIsEmpty()]">购物车空空如也╮(╯▽╰)╭</pre>
    <ul class="list-group" >
      <li ng-repeat="item in main.itemInCart" class="list-group-item">
          <span>{{item.name}}</span>
          <span class="nums">
            <span >数量：</span>
            <input type="text" class="inputNum"/>
            <span >{{item.unit}}</span>
          </span>

      </li>
    </ul>
    <a role="button" class="btn btn-danger" ng-click="main.clearCart();">清空购物车</a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">小票</h3>
      </div>
      <div class="panel-body">
        <pre>点击“结账”下方将显示出购物小票。</pre>
        <div ng-class="{true: 'show', false: 'hide'}[main.printClickFlag]" id="receiptContent">
          <table class="table" style="border: 0 solid">
             <caption id="title"> 没钱赚商店购物小票</caption>
             <thead>
                <tr>
                   <th>名称</th>
                   <th>数量</th>
                   <th>单价</th>
                   <th>小计</th>
                </tr>
             </thead>
             <tbody>
                <tr ng-repeat="item in main.payment.data.resultItems">
                   <td>{{item.name}}</td>
                   <td>{{item.amount}}{{item.unit}}</td>
                   <td>{{item.price}}(元)</td>
                   <td>{{item.price * item.amount}}(元)</td> 
                </tr>
             </tbody>
          </table>
          <table class="table" ng-class="{true: 'hide', false: 'show'}[main.payment.data.sale < 10]">
            <thead>
              <tr>
                 <th>不参与优惠商品：</th>
              </tr>
              <tr>
                 <th>名称</th>
                 <th>价格</th>
              </tr>
            </thead>
              <tr ng-repeat="item in main.payment.data.noSaleResult.noSaleItems">
                 <td>{{item.name}}</td>
                 <td>{{item.price}}(元)</td> 
                 <td></td>
                 <td></td>
              </tr>
          </table>
          <p ng-class="{true: 'hide', false: 'show'}[main.payment.data.sale < 10]">参与优惠总价：<span>{{main.payment.data.noSaleResult.sum}}</span>(元)，优惠：<span>{{main.payment.data.noSaleResult.sale}}</span>(元)</p>
          <p>总计：<span>{{main.payment.data.total}}</span>(元)</p>
          <p ng-class="{true: 'hide', false: 'show'}[main.payment.data.sale < 10]">节省：<span>{{main.payment.data.sale}}</span>(元)</p>
      </div>
    </div>
  </div>
   <a role="button" class="btn btn-success float-right" ng-click="main.printReceipt();">结账</a>
</div>
